body {
}
/*課程*/
.course
{
    margin-top:40px;
    padding-bottom:20px;
    border-bottom:solid;
    border-bottom-color:#1abc9c;
    border-bottom-width:2px;
    background-color:#f2f2f2;
    opacity:0.8;
}
.course h4 /*課程名稱*/
{
    color:darkgray;
    text-align:center;
}
.course p /*課程敘述*/
{
    text-align:justify;
    padding:0px 20px;
    color:darkgray;
}

.course:hover
{
    transition:1s;
    opacity:1;
}

.course:hover h4
{
    transition:1s;
    color:black;
}

.course:hover p
{
    transition:1s;
    color:black;
}

.course img
{
   width:100%;
}

/*icon*/
.icon  a
{
    display:inline-block;
    width:35px;
    margin:0px 10px;
}

.icon img
{
    height:35px;
    width:35px;
}

.icon a:hover img
{
    animation-name: rubberBand;
    animation-duration:1s;
}

.icon
{
    text-align:center;
   margin-top:15px;
}

/*demo*/
.profile img
{
    margin:5% auto;  
    width:360px;
}
.profile button
{
    width:100px;
    background-color:#1abc9c;
    border:none;
    color:white;
    font-family:"思源宋體 ExtraLight";
    font-size:20px;
    font-weight:200;
}
.profile button:hover
{
    background-color:darkgray;
}