<div class="col-lg-3 col-md-3 col-sm-3">
    <div class="course chinese">
        <img src="~/img/course/security.jpeg" class="img-responsive">
        <h4>資訊安全</h4>
        <p>隨著資訊便利而來的是令人擔憂的資訊安全問題，唯有在確保資訊安全之前提下享受資訊便利，才是面對資訊世紀來臨的正確態度，進而迎接未來更大的挑戰與衝擊。</p>
        <div class="icon">
            <a href="http://localhost:50714/Home/Assignment"><img src="../../img/course/icon_information.png" class="img-responsive"></a>
            <a href="http://localhost:50714/Home/Assignment"><img src="../../img/course/icon_enter.png" class="img-responsive"></a>
        </div>
    </div>
</div>