
@{
    ViewBag.Title = "作業繳交";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Web">
    <meta name="author" content="Chi Wu William Chiang">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>G5 classroom</title>
    <!-- Bootstrap core CSS -->
    <link href="../../Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../Content/IndexStyle.css" rel="stylesheet">
    <link href="../../Content/font-awesome.min.css" rel="stylesheet">
    <link href="../../Content/assignmentStyle.css" rel="stylesheet">
</head>
<body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--  <div class="navbar-brand">
                       <a href="https://bei1015.github.io/WebDesign2/index/index.html"><img src="assets/img/logo.png"></a>
                      </div> -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="http://localhost:50714/Home/Course">個人頁面</a></li>
                    <li><a href="#about">公告</a></li>
                    <li><a href="#works">作業</a></li>
                    <li><a href="http://localhost:50714/Home/Index">登出</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 chinese">
                    @*登入後改成顯示下面的*@
                    <h1>軟體工程</h1>
                    <h3>歡迎，你的身分是學生</h3>
                    <h3 class="eng">Welcome,you are student</h3>
                </div>
            </div><! --/row -->
        </div> <!-- /container -->
    </div><! --/headerwrap -->

    <section id="about"></section>
    <div id="about">
        <div class="container">
            <div class="row centered mt mb chinese">
                <div class="title">
                    <h1>公告</h1>
                </div>
                <div class="col-lg-12 demo">
                    <img src="../../img/demo/task.png" class="img-responsive">
                </div>
            </div><! --/row -->
        </div><! --/container -->
    </div>

    <section id="works"></section>
    <div class="container">
        <div class="row centered mt mb chinese">
            <div class="title">
                <h1>作業</h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
               
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                
            </div>
        </div><! --/row -->
    </div><! --/container -->

    <div id="social">
        <div class="container">
            <div class="row centered chinese login">
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/social -->

    <div id="footerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-4">
                    <p><b>ASSIGNMENT SUBMIT & CURSE DETAIL</b></p>
                </div>
                <div class="col-lg-4">
                    <p>G5 小教室 © 2017 William Chiang.</p>
                </div>
                <div class="col-lg-4">
                    <p>a912686931work@gmail.com</p>
                </div>
            </div>
        </div>
    </div><! --/footerwrap -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
</body>
</html>



