<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Web">
    <meta name="author" content="Chi Wu William Chiang">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <title>G5 classroom</title>
    <!-- Bootstrap core CSS -->
    <link href="../../Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../Content/IndexStyle.css" rel="stylesheet">
    <link href="../../Content/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--  <div class="navbar-brand">
                       <a href="https://bei1015.github.io/WebDesign2/index/index.html"><img src="assets/img/logo.png"></a>
                      </div> -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="http://localhost:50714/Home/Index">首頁</a></li>
                    <li><a href="#about">簡介</a></li>
                    <li><a href="#social">登入</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 chinese">
                    @*登入後改成顯示下面的*@
                    @*<h3>歡迎來到我的個人網頁，我是</h3>
                    <h1>江紀武</h1> 
                    <h3 class="eng">web designer & game designer</h3>*@
                </div>
            </div><! --/row -->
        </div> <!-- /container -->
    </div><! --/headerwrap -->

    <section id="about"></section>
    <div id="about">
        <div class="container">
            <div class="row centered mt mb chinese">
                <div class="title">
                    <h1>簡介</h1>
                </div> 
                <h4 class="about">本系統可即時更新各課程作業資訊，並提供學生線上繳交作業，保障自主放假型學生的學習權利，且可於作業批改後查看評語及分數並分析課程成績。</h4>
                <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                    <img src="../../img/about/assignment_hover.png" class="img-responsive">
                    <img src="../../img/about/assignment2.png" class="img-responsive">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 gallery ">
                    <img src="../../img/about/track_hover.png" class="img-responsive">
                    <img src="../../img/about/track.png" class="img-responsive">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                    <img src="../../img/about/grade_hover.png" class="img-responsive">
                    <img src="../../img/about/grade.png" class="img-responsive">
                </div>
            </div><! --/row -->
        </div><! --/container -->
    </div>
    
    <section id="works"></section>
    <div class="container">
        <div class="row centered mt mb chinese aboutText ">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p>即時的作業上傳功能，讓你繳交作業無負擔，且於繳交後可重新上傳檔案覆蓋修改，再也不必擔心作業交完才發現有錯誤了！<br />不過要注意需使用.zip格式繳交，否則辛苦完成的作業只會拿到零分唷。</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p>上傳作業後擔心沒有繳交成功嗎？別再操心！<br />本系統可追蹤作業後續狀態，只要你填的不是假信箱，應該都會收到系統的作業上傳通知信，同時可在作業資訊區查看是否上傳完畢，當作業批改完也可以追蹤助教或教授的評語。</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p>想知道同學成績卻不敢問嗎？本系統於作業批改完成後，會自動收集全班成績數據，計算出全班平均成績，並告訴你這次成績的百分比落點，讓你偷窺成績無負擔，學習狀況一目瞭然。</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
    
    <div id="social">
        <div class="container">
            <div class="row centered chinese login">
                <h3>登入</h3>
                <ul>
                    <li>
                        <h5>請輸入您的帳號：<input type="text" name="YourAccount" placeholder="1035900xx"></h5>
                    </li>
                    <li>
                        <h5>請輸入您的密碼：<input type="password" name="YourPassword" placeholder="password"></h5>
                    </li>
                    <li>
                        <h5><a>忘記帳號或密碼?</a><button class="" onclick="location.href = 'http://localhost:50714/Home/Course'">登入</button></h5>
                    </li>
                </ul>
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/social -->

    <div id="footerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-4">
                    <p><b>ASSIGNMENT SUBMIT & CURSE DETAIL</b></p>
                </div>
                <div class="col-lg-4">
                    <p>G5 小教室 © 2017 William Chiang.</p>
                </div>
                <div class="col-lg-4">
                    <p>a912686931work@gmail.com</p>
                </div>
            </div>
        </div>
    </div><! --/footerwrap -->

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>

<button id="test">取得會員資料</button>
<button id="createUser">新增會員</button>
<text>  </text>
<script>
    $("#test").click(function () {
        $.ajax({
            type: "POST",
            url: "GetMemberInfo",
            dataType: "json",
            success: function (response) {

            }
        });
    });
    //新增會員測試
    $("#createUser").click(function () {
        $.ajax({
            type: "POST",
            url: "CreateUser",
            dataType: "json",
            success: function (response) {

            }
        });
    });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
</body>
</html>
